@media (max-width:1600px) {
	article {
	  width:100%;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-image:url('../img/background-article.jpg');
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	}
}

@media (min-width:1600px) {
	article {
	  width:90%;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-image:url('../img/background-article.jpg');
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	}
}

#moreSettings
{
  position:absolute;
  left:0px;
  top:225px;
  background-color:black; 
  width:704px;height:110px;
  padding:0px;
}

.buttonControls
{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: rgb(176, 216, 241);
  font-weight: bold;
  float:left;
  color: black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  -moz-box-shadow: 5px 5px 5px grey;
  -webkit-box-shadow: 5px 5px 5px grey;
}

#controlsInfo
{
  margin-top:12px;
  width:100%;
}

#tableControlsInfo
{
   border:1px solid black;
   background-color: rgb(176, 216, 241);
   box-shadow: 5px 5px 5px grey;
  -moz-box-shadow: 5px 5px 5px grey;
  -webkit-box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#tableControlsInfo th
{
  background-color:white;
  border:1px solid black;
}

#tableControlsInfo tr:hover
{
  background-color:white;
}

#controlsInfoBtn
{
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding:10px;
  width:320px;
  box-shadow: 5px 5px 5px grey;
  text-align:center;
}

canvas {
  background-color:black;
}

.ampGUI {
  margin: 30px;
  /*box-shadow: 10px 10px 5px grey;*/
}

div audio {
  display: block;
  margin-bottom:10px;

}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.eq {
  margin: 32px;
  border:1px solid;
  border-radius:15px;
  background-color: rgb(176, 216, 241);
  padding:10px;
  width:300px;
  box-shadow: 5px 5px 5px grey;
  text-align:center;
  font-family: "Open Sans";
  font-size: 12px;
}
/*
.ampGUI {
  transition:all 1s;
  transform:scale(0.2, 0.2);
}
.ampGUI:hover {
  transform:scale(1, 1);
}
*/
div.controls:hover {
  color:blue;
  font-weight:bold;
}
div.controls label {
  display: inline-block;
  text-align: center;
  width: 50px;
}

div.controls label, div.controls input, output {
    vertical-align: middle;
    padding: 0;
    margin: 0;
   font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  font-size: 12px;
}

/* --- ON OFF --- */
.onoffswitch {
    position: relative; width: 199px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Oversampling 4x ON";
    padding-left: 0px;
    background-color: #C23439; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Oversampling 4x OFF";
    padding-right: 58px;
    background-color: #1C0B0B; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 9px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #999999; border-radius: 14px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}