.graphicEQwrapper {
    height:360px;
    width:420px;
    border:5px solid grey;
    border-radius:15px;
    background:black;
    position:absolute;
  }
  
  .graphicEQ {
    border-radius: 10px;
    margin-left:10px;
  }